<h1>TAシフト割当画面</h1>

<h2>科目情報</h2>
<body>
    <table class="table-container" style="width: 50%">
      <thead>
        <tr>
            <th>年度</th>
            <th>学期</th>
            <th>科目番号</th>
            <th>授業科目名</th>
            <th>担当教員</th>
        </tr>
      </thead>
      <tbody>
		 <% course = @course %>
        <tr>
            <td style="text-align: right;"><%= course.year%></td>
            <td style="text-align: right;"><%= course.term%></td>
            <td><%= course.number%></td>
            <td><%= course.name%></td>
            <td><%= course.instructor%></td>
        </tr>
      </tbody>
    </table>

<table class="table-container" style="width: 50%" >
      <thead>
        <tr>
            <th>TA割当可能総時間</th>
            <th>割当済時間</th>
            <th>備考</th>
        </tr>
      </thead>
      <tbody>
		 <% course = @course %>
        <tr>
            <td style="text-align: right;"><%= course.time_budget%></td>
            <td style="text-align: right;">0</td>
            <td style="width: 60%"><%= course.description%></td>
        </tr>
      </tbody>
    </table>


</body>

<h2>TA</h2>
<% if @assigned_teaching_assistant.present? %>
  <table class="table-container" style="width: 50%">
  <thead>
    <tr>
        <th>学生番号</th>
        <th>氏名</th>
    </tr>
  </thead>
  <tbody>
  <% assignment_TA = @assigned_teaching_assistant %>
    <% @assigned_teaching_assistant.each do |assignment_TA| %>
      <tr>
        <td><%= assignment_TA.number %></td>
        <td><%= assignment_TA.name %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
<div class="button-container">
<button id="button1" class="button-blue">TA追加</button>
<button id="button2" class="button-red">TA削除</button>
</div>



<div id="displayText"></div>


<div id="SearchFormContainer">
  <form id="SearchForm" style="display:none;" >
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="number">学生番号:</label>
    <input type="text" id="number" name="number" >

    <label for="name">氏名:</label>
    <input type="text" id="name" name="name">
    <button type="button" id = "SearchButton" >検索</button>
  </form>
</div>
<div id="SearchResult"></div>
<form id="resultform" action="/add_TA" method="POST" style="display:none;">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :course_id, @course.id %>
  <div id="tableContainer"></div>
  <button type="submit">確定</button>
</form>


<h2>シフト</h2>
<div class="button-container">
<button class="button-blue" class="centered-text">シフト追加</button>
<button class="button-red" class="centered-text">シフト削除</button>
</div>

<p><%= link_to '科目一覧画面', '/courses/index' %></p>
<p><%= link_to '帳票表示画面', '/show_reports/index' %></p>

<script>
  const button1 = document.getElementById('button1');
  const myForm = document.getElementById('SearchForm');
  const SearchButton = document.getElementById('SearchButton');

  button1.addEventListener('click', function() {
    SearchForm.style.display = 'block';
  });

  SearchButton.addEventListener('click', function() {
    resultform.style.display = 'block';
    const formData = new FormData(myForm);
    for (const [key, value] of formData){
      const formData = new FormData(myForm);
      httpGet(formData);
    }
  });

  function httpGet(query){
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.onreadystatechange = function(){
      if(xmlHttp.readyState == 4 && xmlHttp.status == 200 ){
          table(xmlHttp.responseText);
      }else{
        if(xmlHttp.redyState == 4){
          dom("SearchResult","エラー")
        }
      }
    }
    xmlHttp.open("POST", "/search");
    xmlHttp.send(query);
  }

  function dom(id, content){
    document.getElementById(id).innerHTML = content;
  }

  function table(jsonData){
    console.log(jsonData)
    let TA = JSON.parse(jsonData);

    var table = document.createElement("table");
    var headerRow = table.insertRow();
    var headerCell = headerRow.insertCell();
    headerCell = headerRow.insertCell();
    headerCell.textContent = "学生番号";
    headerCell = headerRow.insertCell();
    headerCell.textContent = "名前";



    for (var i = 0; i < TA.length; i++) {
      var row = table.insertRow();
      var checkboxCell = row.insertCell();
      var checkbox = document.createElement("input");
      checkbox.type = "checkbox";
      checkbox.name = "selected_options[]";
      checkbox.value = TA[i].id;
      checkboxCell.appendChild(checkbox);

      var nameCell = row.insertCell();
      nameCell.textContent = TA[i].number;
      var nameCell = row.insertCell();
      nameCell.textContent = TA[i].name;
    }

    var container = document.getElementById("tableContainer");
    container.innerHTML = "";
    container.appendChild(table);
  }
</script>
