<h1>科目一覧画面</h1>
<body>
    <table class="table-container">
      <thead>
        <tr>
            <th>年度</th>
            <th>学期</th>
            <th>科目番号</th>
            <th>授業科目名</th>
            <th>担当教員</th>
            <th>TA割当可能総時間</th>
            <th>割当済時間</th>
            <th>備考</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
        <tr>
            <td style="text-align: right;"><%= course.year%></td>
            <td style="text-align: right;"><%= course.term%></td>
            <td><%= link_to course.number,assign_shift_index_path(course_id: course.id)%></td>
            <td><%= link_to course.name,assign_shift_index_path(course_id: course.id)%></td>
            <td><%= course.instructor%></td>
            <td style="text-align: right;"><%= course.time_budget%></td>
            <td style="text-align: right;"><%= calc_time_allcation(course)%></td>
            <td style="width: 300px"><%= course.description%></td>

        </tr>
        <% end %>
      </tbody>
    </table>
</body>
<p><%= link_to 'TOP画面に戻る', '/top/index' %></p>
