<h1>帳票表示画面</h1>


<div class="centered-text">
<p style="center;">学生番号、もしくは氏名を入力してください。</p>
</div>

<div id="SearchFormContainer" style="text-align: center;">
  <%# <form id="SearchForm" action="/show_reports/search" method="POST"> %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <label for="number">学生番号:</label>
    <%= form_with url: '/show_reports/search', local: true, method: :get do |f| %>
      <%= f.text_field :word_number %>
      <%= f.submit "検索", class: "btn btn-primary", style: "margin: 20px auto 0" %>
    <% end %>
    <label for="name">氏名:</label>
    <%= form_with url: '/show_reports/search', local: true, method: :get do |f| %>
      <%= f.text_field :word_name %>
      <%= f.submit "検索", class: "btn btn-primary", style: "margin: 20px auto 0" %>
    <% end %>

    <br>

</div>

<br>
<table class="table-container">
    <% if @teachingassistants.present? %>
  <thead>
    <tr>
      <th>学生番号</th>
      <th>氏名</th>
      <th>出力データ(様式1)</th>
      <th>出力データ(様式2)</th>
    </tr>
  </thead>
  <tbody>
      <% @teachingassistants.each do |teachingassistant| %>
        <tr>
          <td><%= teachingassistant.number %></td>
          <td><%= teachingassistant.name %></td>
          <td><%= link_to '様式１', show_reports_write_excel1_path(student_id: teachingassistant.number) %></td>
          <td><%= link_to '様式2', show_reports_write_excel2_path(student_id: teachingassistant.number) %></td>
      <% end %>
    <% else %>
      <tr>
        <td><%= @message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="bottom-left">
  <%= link_to 'TOP画面に戻る', '/top/index' %>
</div>

<script>

</script>

