<h1>帳票表示画面</h1>


<div class="centered-text">
<p style="center;">学生番号、もしくは氏名を入力してください。</p>
</div>

<div id="SearchFormContainer" style="text-align: center;">
  <%= form_with url: '/show_reports/search', local: true, method: :get do |f| %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <label for="number">学生番号:</label>
    <%= f.text_field :word_number %>
    <%= f.submit "検索", class: "btn btn-primary", style: "margin: 20px auto 0" %>
    <br style="margin-top: 5px;">
    <label for="name">　　氏名:</label>
    <%= f.text_field :word_name %>
    <%= f.submit "検索", class: "btn btn-primary", style: "margin: 20px auto 0" %>
  <% end %>
  <br>
</div>
<div id="messageContainer_1"></div>

<br>

<div class="specific-table-container">
  <table class="table-container">
    <% if @teachingassistants.present? %>
  <thead>
    <tr>
      <th>学生番号</th>
      <th>氏名</th>
      <th>出力データ(様式1)</th>
      <th>出力データ(様式2)</th>
    </tr>
  </thead>
  <tbody>
      <% @teachingassistants.each do |teachingassistant| %>
        <tr>
          <td><%= teachingassistant.number %></td>
          <td><%= teachingassistant.name %></td>
          <td><%= link_to '様式１', show_reports_write_excel1_path(student_id: teachingassistant.number) %></td>
          <td><%= link_to '様式2', show_reports_write_excel2_path(student_id: teachingassistant.number) %></td>
        </tr>
      <% end %>
    <% else %>
      <p class="error-message"><%= @message %></p>
    <% end %>
  </tbody>
</table>
</div>


<p>
  <%= link_to 'TOP画面に戻る', '/top/index' %>
</p>

