<h1>帳票表示画面</h1>


<div class="centered-text">
<p style="center;">学生番号、もしくは氏名を入力してください。</p>
</div>

<div id="SearchFormContainer" style="text-align: center;">
  <%# <form id="SearchForm" action="/show_reports/search" method="POST"> %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <label for="number">学生番号:</label>
    <%= form_with url: '/show_reports/search', local: true, method: :get do |f| %>
      <%= f.text_field :word_number %>
      <%= f.submit "検索", class: "btn btn-primary", style: "margin: 20px auto 0" %>
    <% end %>

    <br>

    <label for="name">氏名:</label>
    <%= form_with url: '/show_reports/search', local: true, method: :get do |f| %>
      <%= f.text_field :word_name %>
      <%= f.submit "検索", class: "btn btn-primary", style: "margin: 20px auto 0" %>
    <% end %>

    <br>

    <%# <button type="submit" style="margin: 20px auto 0;">検索</button> %>
  <%# </form> %>
</div>
<table class="table table-hover table-inverse">
  <tbody>
    <% if @teachingassistants.present? %>
      <% @teachingassistants.each do |teachingassistant| %>
        <tr>
          <td>
          <%= teachingassistant.name %>
          <%= teachingassistant.number %>
          <%= link_to '様式１', show_reports_write_excel1_path(student_id: teachingassistant.number) %>
          <%= link_to '様式2', show_reports_write_excel2_path(student_id: teachingassistant.number) %>
          <%# <%= button_to "様式１", '/show_reports/write_excel?id=' + @student_number, method: :get, class: "btn btn-primary", style: "margin: 20px auto 0;" %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>No teaching assistants found.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="bottom-left">
  <%= link_to 'TOP画面に戻る', '/top/index' %>
</div>

